.product-table {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & h2 {
    font-family: "Open Sans", sans-serif;
    color: #333;
    font-weight: 100;
  }

  & a {
    color: #eee;
    border-radius: 3px;
    background: #2d3c50;
    padding: 0.3rem 1rem;
    text-decoration: none;
  }
}

.filter {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__right {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
  }

  &__group,
  & form {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  & select,
  & input {
    height: 2.4rem;
    border-radius: 3px;
    outline: none;
    padding: 0 0.5rem;
    border: 1px solid #293e58;
  }

  & select {
    cursor: pointer;
  }

  & label,
  & span {
    font-size: 1.4rem;
    font-family: "Lato", sans-serif;
  }

  & button {
    height: 2.4rem;
    width: 2.6rem;
    border: none;
    border-radius: 3px;
    outline: none;
    background: #293e58;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .search-icon {
    height: 1.2rem;
    width: auto;
    fill: #fff;
  }
}

.table-wraper {
  overflow-x: auto;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.table {
  width: 100%;
  font-size: 1.4rem;
  white-space: nowrap;
  border-collapse: collapse;
  font-family: "Open Sans", sans-serif;

  & a {
    color: inherit;

    &:hover {
      color: #0000ee;
    }
  }

  & thead {
    color: #fff;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;

    & tr {
      background: hsl(195, 45%, 60%);
    }
  }

  & tbody {
    color: #333;

    & tr {
      &:nth-of-type(odd) {
        background: hsl(195, 75%, 85%);
      }
      &:nth-of-type(even) {
        background: hsl(195, 65%, 75%);
      }
    }
  }

  & thead tr th,
  & tbody tr td {
    padding: 0.7rem 1.4rem;

    &:not(:first-child) {
      border-left: 1px solid #eee;
    }
  }
}

.icon-delete {
  width: 2rem;
  height: 2rem;
}

.icon-delete {
  fill: #ff0000;
}

.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  & button {
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
}
