@import "../../global/mixins.scss";

.container {
  max-width: 1140px;
  width: 84%;
  margin: 0 auto;

  @include respond(big-screen) {
    min-width: 1320px;
  }

  @include respond(tab-land) {
    width: 84%;
    margin: 0 auto;
  }

  @include respond(tab-port) {
    width: 88%;
    margin: 0 auto;
  }
  @include respond(phone) {
    width: 92%;
    margin: 0 auto;
  }
}
