#category-create-page {
  padding: 4rem 0;
}

.wrapper {
  max-width: 62rem;
  background: #fff;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.heading {
  font-family: "Open Sans", sans-serif;
  color: #333;
  font-weight: 100;
  margin-bottom: 2rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & > button {
    margin-top: 1rem;
    height: 4rem;
    padding: 0 2rem;
    border-radius: 3px;
    border: 1px solid #2d3c50;
    background-color: transparent;
    color: #2d3c50;
    text-align: center;
    font-size: inherit;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      background-color: #2d3c50;
      color: #eee;
    }
  }
}

.form-group {
  display: flex;
  flex-direction: column;

  & label {
    color: #333;
    letter-spacing: 0.08rem;
    text-transform: capitalize;
    display: block;
    transition: all 0.3s;

    & span {
      color: #777;
      font-weight: 100;
    }
  }

  & input,
  & textarea {
    font-size: 1.5rem;
    letter-spacing: 0.08rem;
    padding: 1rem 0.8rem;
    border: 1.2px solid #999;
    border-radius: 3px;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: 1.2px solid #777;
    }

    &::-webkit-input-placeholder {
      color: #999;
      letter-spacing: 0.08rem;
    }
  }

  & textarea {
    max-height: 16rem;
    min-height: 6rem;
    resize: vertical;
  }

  & > span {
    font-size: 1.3rem;
    color: #b40e0e;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.06rem;
  }
}
